/*بسم الله الرحمن الرحيم*/

body
{
    font-family: sans;
}

#main_body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    font-size: xx-large;
    animation-name: main_body;
    animation-duration: 10s;
}

@keyframes main_body
{
    from
    {
        font-size: xx-small;
    }
    to
    {
        font-size: xx-large;
    }
}

.link_navigation_button
{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    height: 7vh;
    width: 7vh;

    border-radius: 10%;

    color: white;
    text-decoration: none;
    background-color: blue;
    opacity: 0.3;
    transition: opacity 0.3s;
}
.link_navigation_button:hover
{
    opacity: 1;
}

#link_navigation_button_next
{
    right: 0;
}
#link_navigation_button_previous
{
    left: 0;
}


